.container {
    width: 500px;
    margin: 0 auto;
}
h1, h2{
    background-color: green;
}
form {
    background-color: tomato;
    margin-bottom: 20px;
    color: black;
    font-size: x-large;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: lightyellow;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}
button {
    background-color: #00eaff;
}
